* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Arial';
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #282c35;
}

main {
  padding: 20px;
}