* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', 'Arial';
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #282c35;
}

main {
  padding: 20px;
}

main > section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}

/* config do GraphicDay */
.apexcharts-active {
  background-color: #1A1C22;
}

.apexcharts-tooltip-title {
  background-color: #1A1C22 !important;
}